.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // height: 120px;
    }

    &__btn {
        padding: 0;
    }

    &__btn-menu {
        display: none;

        span {
            display: block;
            width: 30px;
            height: 3px;
            background-color: var(--title);
            border-radius: 4px;
            margin-bottom: 6px;
        }
    }

    @media screen and (width < 769px) {
        &__btn {
            display: none;
        }
    }

    @media screen and (width < 541px) {
        &__inner {
            flex-wrap: wrap;
            padding-top: 42px;
        }
        &__btn-menu {
            display: block;
            order: -1;
            position: relative;
            z-index: 12;
        }
    }
}