.menu {

    &__list {
        display: flex;
        gap: 80px;
    }

    &__item--padding-left {
        padding-left: 32px;
    }

    &__item--padding-right {
        padding-right: 62px;
    }

    &__item {
        position: relative;
    }


    &__link {
        padding: 50px 15px;
        @extend %title-font;
        line-height: calc(22/16);
        text-align: center;
        color: var(--link);
        @include transition ($transition-property: background-color);

        &:hover {
            background-color: var(--accent);
        }

        &--active {
            position: relative;
            
            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                background-color: rgba(#363838, .7);
                border-radius: 1px;
                left: 0;
                right: 0;
                bottom: 40px;
            
            }

        }
    }
}