.menu {

    &__list {
        display: flex;
        gap: 80px;
    }

    &__item--padding-left {
        padding-left: 32px;
    }

    &__item--padding-right {
        padding-right: 62px;
    }


    &__link {
        padding: 50px 0;
        @extend %title-font;
        line-height: calc(22/16);
        text-align: center;
        color: var(--link);
        @include transition ($transition-property: background-color);

        &:hover {
            background-color: var(--accent);
        }
    }
}