.tabs-buttons {
  display: flex;
  gap: 25px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

  &__btn {
    padding: 6px 16px;
    min-width: 160px;
    opacity: 0.5;
    border: 1px solid #454647;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: #8F8D8D;
    @include transition ($transition-property: (color, background-color));

    &:hover {
      color: var(--title);
      background: rgba(#FFEF35, .5) ;
    }
  }
}

.mixitup-control-active {
  color: var(--title);
  background: rgba(#FFEF35, .5);
  border: 1px solid rgba(#FFEF35, .5);
}